.wrapper {
    display: flex;
    background-color: lightgray;
    padding: 2%;
}
#name{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    transform: rotate(-45deg);

}
#image{
    border-radius: 10%;
    max-width: 150px;
    max-height: 150px;
    border: solid black 2px;
}