.App{
  background: rgb(29, 44, 44);
}



.container0 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 2fr;
grid-gap: 5px;
align-items: center;
justify-content: center;
}

.colorBoard{
  color: rgb(49, 49, 49);
  padding: 5%;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
  height: 200px;
  width: auto;
  border: black 1px solid;
  margin: 5px;

}



.container1{
display: grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr;
align-items: center;
justify-content: center;
margin-top: 2%;

}

.btnBoard {
  display: grid;
  margin: 5px;
  grid-gap: px;
}

.button{
  border-radius: 20%;
  text-align: center;
  font-family: cursive;
  font-size: 125%;
  height: 40px;
  background-color: rgb(113, 189, 189);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) */
}