*{
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

textarea {
    padding: 10px;
    padding-right: 30%;
}

button {
    background-color: rgba(255, 166, 0, 0.493);
    padding-right: 8px;
}

#form{
    background-color: rgba(184, 183, 183, 0.39);
    padding: 5%;
}

#post{
    padding:3%;
    font-size: larger;
    background-color:rgba(184, 183, 183, 0.699) ;
}