.App {
    border: 2px solid black;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.span {
    grid-column: span 2;
}

input {
    margin : 3%;
    padding: 1%;
}

textarea {
    padding: 5%;
}

.btn {
    align-items: center;
}



#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    line-height: 55px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
