.container{
    grid-area: A;
    margin: 0px;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    color:white;
}
.container a:link {
        text-decoration: none ;
        color:white;
        font-size: 70%;
}
.navMain {
    margin-right: 20%;
    font-size: 155%;
}